<h1>Welcome to Mario's food stuffs!</h1>

<h4>Here's what's new, what people are talking about, and how to look at all of our peoducts.</h4>



<% if Product.most_reviews[0] %>
  <p><%= link_to "#{Product.most_reviews[0].name}", product_path(Product.most_reviews[0]) %> currently has the most reviews</p>
<% else %>
<% end %>

<% if Product.three_most_recent[0] && Product.three_most_recent[1] && Product.three_most_recent[2]%>
  <p>The 3 newest products are:</p>
<p><%= link_to "#{Product.three_most_recent[0].name}", product_path(Product.three_most_recent[0]) %></p>
<p><%= link_to "#{Product.three_most_recent[1].name}", product_path(Product.three_most_recent[1]) %></p>
<p><%= link_to "#{Product.three_most_recent[2].name}", product_path(Product.three_most_recent[2]) %></p>
<% elsif Product.three_most_recent[0] && Product.three_most_recent[1] %>
  <p>The 2 newest products are:</p>
  <p><%= link_to "#{Product.three_most_recent[0].name}", product_path(Product.three_most_recent[0]) %></p>
  <p><%= link_to "#{Product.three_most_recent[1].name}", product_path(Product.three_most_recent[1]) %></p>
<% elsif Product.three_most_recent[0] %>
  <p>The newest product is:</p>
  <p><%= link_to "#{Product.three_most_recent[0].name}", product_path(Product.three_most_recent[0]) %></p>
<% else %>
  <p>There are currently no Products listed</p>
<% end %>


<p><%= link_to "Show products", products_path %></p>

